
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.sec-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color:#FD6E0A;
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-size:20px ;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border-color: none;
    
}

.btn-primary-two{
    background-color:#FFF8F3;
    font-size:20px;
    font-weight: bold;
    color: #FD6E0A;
    padding: 18px 24px;
    border-radius: 5px;
    border-color: #FD6E0A;

}
.section-title{
    font-size: 35px;
    font-weight :bold;
    color: #181818 ;
}

.section-description{
    font-size: 18px;
    font-weight: normal;
    color: #757575;
}
.text-center{
    text-align: center;
    padding: auto;
}


/* header */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}

/* nav */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 200px ;
}
.nav-title{
    font-weight:800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content{
    max-width: 585px;
}

.banner-intro{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    color: #181818;
}
.banner-description{
    font-weight: 400px;
    font-size: 18px;
    color: #757575;
}
.banner-btn{
    justify-content: space-between;
    margin-right: 30px;
}

.banner-profile{
    width:584px;

}

/* main  */

main{
    max-width : 1140px;
    margin: 0 auto;
    
}

main section{
    margin-top: 130px;
    margin-top: 130px;
}

/* about */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}

.about-items{
    display: flex;
    justify-content: space-around;
    color: #757575;
}

.about-description{
    font-size: 20px;
    font-weight: bold;
}

/*skills- container  */
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}



.skills-container{
    display: flex;
    gap:24px;
    margin-top: 50px;
}

.section-title{
     
    text-align: center;
}


/* resume section style */
.resume-container{
    display: flex;
    gap : 24px;

}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}

.experince-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}

.experince-sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;

}

.experience-description{
    font-weight: normal;
    font-size: 16px;
    color: #757575;

}
.resume hr{
    margin: 30px 3px;
}
.resume-download-btn{
    text-align: center;
    margin-top: 50px;
}